<section class="mt-3">
    <div class="container">
    <div class="row">
        <div class="col-md-3">
        <div class="card shadow-lg" >
            <img src="assets/images/paris1.jpg" alt=" " class="img-fluid">
            <div class="card-body" >
                <p class="h3">Paris</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus iusto temporibus ab blanditiis ut. Numquam voluptas doloremque explicabo laborum quidem!</p>
                <button class="btn btn-danger btn-sm">Book now</button>

            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow-lg" >
            <img  src="assets/images/germany.jpg" alt=" " class="img-fluid">
            <div class="card-body" >
                <p class="h3">Germany</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus iusto temporibus ab blanditiis ut. Numquam voluptas doloremque explicabo laborum quidem!</p>
                <button class="btn btn-danger btn-sm">Book now</button>

            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow-lg" >
            <img src="assets/images/japan.jpg" alt=" " class="img-fluid">
            <div class="card-body" >
                <p class="h3">Japan</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus iusto temporibus ab blanditiis ut. Numquam voluptas doloremque explicabo laborum quidem!</p>
                <button class="btn btn-danger btn-sm">Book now</button>

            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow-lg" >
            <img src="assets/images/switerland.jpg" alt=" " class="img-fluid">
            <div class="card-body" >
                <p class="h3">Switerland</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus iusto temporibus ab blanditiis ut. Numquam voluptas doloremque explicabo laborum quidem!</p>
                <button class="btn btn-danger btn-sm">Book now</button>

            </div>

        </div>
    </div>

</div>
</div>
</section>

